version: '3'

services:

  pandora-mysql:
    image: pandorafms/pandorafms-mysql:6
    container_name: pandora-mysql
    hostname: pandora-mysql
    environment:
      MYSQL_ROOT_PASSWORD: P@ssw0rd#1
      MYSQL_DATABASE: pandora    
      MYSQL_USER: pandora
      MYSQL_PASSWORD: pandora
    ports:
      - 3306:3306
    volumes:
      - /srv/docker-data/pandora/mysql-data:/var/lib/mysql
    networks:
      ipaddr:
        ipv4_address: 172.17.1.1

  pandora-server:
    image: pandorafms/pandorafms-server:6
    container_name: pandora-server
    hostname: pandora-server
    environment:
      PANDORA_DB_HOST: pandora-mysql
      PANDORA_DB_NAME: pandora
      PANDORA_DB_USER: pandora
      PANDORA_DB_PASSWORD: pandora
    ports:
      - 41121:41121
    depends_on:
      - pandora-mysql
    networks:
      ipaddr:
        ipv4_address: 172.17.1.2

  pandora-console:
    image: pandorafms/pandorafms-console:6
    container_name: pandora-console
    hostname: pandora-console
    ports:
      - 80:80
      - 8022:8022
      - 8023:8023
    environment:
      PANDORA_DB_HOST: pandora-mysql
      PANDORA_DB_NAME: pandora
      PANDORA_DB_USER: pandora
      PANDORA_DB_PASSWORD: pandora
    depends_on:
      - pandora-mysql
    networks:
      ipaddr:
        ipv4_address: 172.17.1.3
    
networks:
  ipaddr:
    external:
      name: docker1
